<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ServiceArch.DataProviders.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ServiceArch.Services.Data.Providers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ServiceArch.Services.Data.Providers.EntityFramework.Configuration.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <ServiceArch.DataProviders.Properties.Settings>
      <setting name="sqlServerConnectionString" serializeAs="String">
        <value>Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\ServiceArch.mdf;Initial Catalog=ServiceArch;Integrated Security=True</value>
      </setting>
      <setting name="mongoDbConnectionString" serializeAs="String">
        <value>mongodb://localhost:27017/</value>
      </setting>
      <setting name="mongoDbDatabaseName" serializeAs="String">
        <value>ServiceArch</value>
      </setting>
    </ServiceArch.DataProviders.Properties.Settings>
    <ServiceArch.Services.Data.Providers.Properties.Settings>
      <setting name="sqlServerConnectionString" serializeAs="String">
        <value>Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\ServiceArch.mdf;Initial Catalog=ServiceArch;Integrated Security=True</value>
      </setting>
      <setting name="mongoDbConnectionString" serializeAs="String">
        <value>mongodb://localhost:27017/</value>
      </setting>
      <setting name="mongoDbDatabaseName" serializeAs="String">
        <value>ServiceArch</value>
      </setting>
    </ServiceArch.Services.Data.Providers.Properties.Settings>
    <ServiceArch.Services.Data.Providers.EntityFramework.Configuration.config>
      <setting name="connectionString" serializeAs="String">
        <value />
      </setting>
    </ServiceArch.Services.Data.Providers.EntityFramework.Configuration.config>
  </applicationSettings>
</configuration>